/* Начало шапки страницы */

.header {
    padding: 92px 50px 95px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header__memu {
    font-size: 18px;
    color: #000;
    align-content: center;
}

.header__links-list {
    display: flex;
    gap: 13px;
    list-style-type: circle;
    list-style-position: inside;
}

.header__link_active {
    text-decoration: none;
    list-style-type: none;
}

.header__link {
    text-decoration: none;             /*убрать стандартное подчеркивание*/
    border-bottom: 1px solid #000;   /*добавить подчеркивание для ссылки*/
    margin-left: -5px;
    padding-right: 1px;
}

.header__logo {
    height: 105px;  
    width: 148px;
}

.header__logo-image {
   height: 100%;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 240px;
    justify-self: end;
    font-size: 18px;
    line-height: 136%;
    color: #000;
    font-style: normal;
}

.address__number_link {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.address__email_link {
    text-decoration: none;            /*убрать стандартное подчеркивание*/
    border-bottom: 1px solid #000;  /*добавить подчеркивание для ссылки*/
}

/* Конец шапки страницы */

/* Начало контента страницы*/

.content {
    position: relative;
}

.overlay {
    background-color: #000;
    position: absolute;
    min-height: 759px;
    width: 1100px;
    opacity: 0.6;
}

.cover {
    /*border: 1px solid red;*/
    min-height: 759px;
    background-image: url(../images/cover.jpg);
    background-size: auto 759px;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 165px 50px 50px;
    /*gap: 106px;*/
}

.cover__title {
    color: #FFF;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.aligned-text {                 
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 18px;
} 

.aligned-text_left{
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.no-letter-spacing{
    letter-spacing: normal;
}

.cover__description {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: auto 256px;
    grid-template-rows: 51px;
    align-items: center;
    color: #FFF;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    padding-top: 106px;
}

.letter-spacing-extended{
    word-spacing: 0.85em;
}

.bet-button{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    height: 51px; 
    border: 1px solid white;
    background-color: transparent;
    color: #FFF;
}

.lots {
    /*border: 1px solid red;*/
    min-height: 1023px;
    padding: 180px 24px 120px;
}

.about {
    border: 1px solid red;
    min-height: 775px;
    padding: 0px 24px 180px;    
}

/* Конец контента страницы*/

/* Начало подвала страницы */
.footer {
    border: 1px solid red;
    min-height: 180px;
}