/* Начало шапки страницы */

.header {
    padding: 91px 50px 97px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header__memu {
    font-size: 18px;
    color: #000;
    align-content: center;
}

.header__links-list {
    display: flex;
    gap: 13px;
    list-style-position: inside;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__links-list-item {
    list-style-type: circle;
}

.header__link_active {
    text-decoration: none;
}

.header__link {
    text-decoration: none;             /* убрать стандартное подчеркивание */
    border-bottom: 1px solid #000;   /* добавить подчеркивание для ссылки */
    margin-left: -5px;
    padding-right: 1px;
}

.header__logo {
    height: 105px;
    width: 148px;
}

.header__logo-image {
   height: 100%;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 240px;
    justify-self: end;                 /* Прижать слева */
    font-size: 18px;
    line-height: 135%;
    color: #000;
    font-style: normal;
}

.address__number_link {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.address__email_link {
    text-decoration: none;            /* убрать стандартное подчеркивание */
    border-bottom: 1px solid #000;  /* добавить подчеркивание для ссылки */
}

/* Конец шапки страницы */

/* Начало обложки */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #000;
    opacity: 0.6;
}

.cover {
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: auto 758px;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 165px 50px 49px;
    position: relative;
}

.cover__title {
    color: #FFF;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.aligned-text {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 17px;
} 

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: auto 256px;
    grid-template-rows: 51px;
    align-items: center;
    padding-top: 106px;
}

.cover__description-text {
    color: #FFF;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    word-spacing: 0.85em;
}

.bet-button {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    height: 51px;
    border: 1px solid white;
    background-color: transparent;
    color: #FFF;
}

/* Конец обложки */

/* Начало блока с лотами */

.lots {
    min-height: 1023px;
    padding: 180px 24px 120px;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
    padding-left: 40px;
    padding-bottom: 27px;
}

.lots__card-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;                  /* Смещение карточек на другую строку */
    gap: 25px;
    padding-bottom: 30px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    height: 100%;
    text-decoration: none;
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-size: cover;
    background-position: center;
    padding: 49px 40px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
    z-index: 1;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    z-index: 1;
}

.lots__look-more-link {
    font-weight: 400;
    font-size: 20px;
    color: #000;
    margin-left: 40px;
    text-decoration: none;            /* убрать стандартное подчеркивание */
    border-bottom: 1px solid #000;  /* добавить подчеркивание для ссылки */
}

/* Конец блока с лотами */

/* Начало блока об аукционе */

.about {
    display: grid;
    grid-template-columns: 334px auto;
    gap: 23px;
    min-height: 775px;
    padding: 0 26px 180px; 
}

.about__column {
    padding-top: 34px;
    padding-left: 45px;
}

.about__logo {
    background-color: #000;
    width: 240px;
    height: 240px;
    border-radius: 120px;            /* Круглый блок */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    padding-top: 135px;
    padding-bottom: 100px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000;
}

/* Конец блока об аукционе */

/* Начало подвала страницы */
.footer {
    min-height: 180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.footer__address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 265px;
    font-size: 18px;
    line-height: 136%;
    color: #000;
    font-style: normal;
}

.footer__menu-list {
    list-style-type: none;
}

.footer__menu-list-item {
    text-align: center;
}

.footer__menu-link {
    text-decoration: none;            /* убрать стандартное подчеркивание */
    border-bottom: 1px solid #000;  /* добавить подчеркивание для ссылки */
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    list-style-type: none;
    width: 240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
    gap: 48px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}